<div class="ui pointing menu">
  <div class="header item">
    The Page
  </div>
  <%= link_to 'Home', root_path, class: "item #{active_class(root_path)}" %>
  <div class="right menu">
    <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "item #{active_class(destroy_user_session_path)}" %>
        <%= link_to 'Edit registration', edit_user_registration_path, class: "item #{active_class(edit_user_registration_path)}" %>
    <% else %>
        <%= link_to 'Login', new_user_session_path, class: "item #{active_class(new_user_session_path)}" %>
        <%= link_to 'Register', new_user_registration_path, class: "item #{active_class(new_user_registration_path)}" %>
    <% end %>
  </div>
</div>








