<!DOCTYPE html>
<html>
<head>
  <title>DeviseOauthDemo</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="ui container">
  <%= render 'layouts/navigation' %>

  <div class="ui vertical stripe segment">
    <%= semantic_flash %>
    <%= yield %>
  </div>

  <%= render 'layouts/footer' %>
</div>
</body>
</html>
